antlr4/environment.sh
antlr4/compile
antlr4/grun
antlr4/visit
antlr4/antlr
antlr4/lib/
.vscode/
antlr4/bin/
antlr4/testcases/
antlr4/clear.sh
antlr4/compile.sh
antlr4/antlr-4.13.2-complete.jar
lib/antlr-4.13.2-complete.jar